.App {
  text-align: center;
}

.App-header {
  background-color: cornflowerblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  
}

.ip {
  color: whitesmoke(347, 86%, 48%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  font-weight: 200;
}

.click{
  color: whitesmoke;
  background-color: transparent;
  font-weight: 900;
  padding: 10px 20px;
  font-size: .8em;
  border: 1px solid white;
  border-radius: 5px;
}

.click:hover{
  background: #fff;
  color: cornflowerblue;
}
