.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  font-family: 'Roboto';
}
.App-header h1{
  margin-bottom: 10px;
}

.ip {
  color: whitesmoke(347, 86%, 48%);
  font-family: 'Roboto';
  font-size: larger;
  font-weight: 200;
}

.click{
  margin-top: 20px;
  color: #fff;
  background-color: transparent;
  font-weight: 900;
  padding: 10px 20px;
  font-size: .8em;
  border: 1px solid white;
  border-radius: 5px;
  font-family: 'Roboto';
}

.click:hover{
  background: #fff;
  color: cornflowerblue;
}

.ooops{
  /* background: #fff; */
  text-align: center;
  background: #e6e4e4;
  height: 100vh;

}
.empty-page-msg{
  padding: 30px 0;
}
.ooops-btn{
  width: 120px;
  /* position: relative;
  margin-left: 900px; */
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2em;
  background: #fe6f1c;
}
.ooops-btn:hover{
  background: #f88d50;
  cursor: pointer;
}
.ooops-img img{
    margin-top: 40px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}